# dirs
docs/.archive/
.temp/

# files
docs/project_objective.md
docs/UsingtheCluster.pdf
config/config_library.xlsx
dataCollection.ipynb
testConfig.ipynb
18_llm4pgcc.py

# logs
*.log

# envs
.pgccEnv/
.conda/
.env
*.env*
env/
ENV/
venv/
.venv/

# other
.DS_Store
._*
__pycache__/